@import './common.scss';

.aoe {
   position: absolute;
   border-radius: 50%;
   border: 1px solid rgb(155, 49, 49);
   background-color: rgba(216, 150, 74, 0.4);
}

.hidden {
   display: none;
}

// dummy
.position-wrapper {}