{
   "presets": [
     "@babel/preset-env", "@babel/preset-react"
   ],
 
   "plugins": [
     ["@dr.pogodin/react-css-modules", {
       "context": "./src",
       "webpackHotModuleReloading": true,
       "autoResolveMultipleImports": true,
       "handleMissingStyleName": "warn",
       "filetypes": {
         ".scss": {
           "syntax": "postcss-scss"
         }
       }
     }],
     "@babel/plugin-transform-runtime"
   ]
 }
 